
body {
    font-family: 'Anton', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #888888;
    box-sizing: border-box;
}

h1 {
    color: rgb(37, 39, 32)
}

/* header */

.container {
    margin: 0 55px;
    padding-bottom: 10px;
}

.head {
    text-align: center;
    margin-top: 30px;
}

.search {
    display: flex;
    justify-content: center;
}

.red {
    color:#f23030;
}
.orange {
    color:#ccc636;
}
.green {
    color:#5ca61c;
}
.blue {
    color:#3bc8e0;
}
.purple {
    color:#cc5eff;
}


.text-help {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-right: 5px;
}

.head.main {
    display: flex;
    min-height: 80px;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
}

.header-title {
    text-align: left;
}

.header-form {
    margin-top: 60px;
}

.btn {
    padding: 0 10px;
    transition: all .5s;
    align-items: center;
    margin-left: 5px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.btn:hover {
    background-color:rgba(177, 179, 174, 0.836)
}

input[type=search] {
    border: 1px solid #cccccc;
    line-height: 38px;
    padding: 0 15px;
    width: 15%;
    outline: none;
    border-right: 0;
    border-radius: 5px;
    
}

.btn {
    font-size: 25px;
    
}

   
/* header */

/* main */

.main-result {
    margin-top: 100px;
    display: flex;
    
}

.battle-title, .reef-title, .wn8-title, .wg-title, .win-title, .middle-damage-title{
   margin-bottom: 10px;
}

.center-menu {
    margin-left: 100px;
}

.BATTLE_PARAMS, .REEF_PARAMS, .WN8_PARAMS, .WG_PARAMS, .WIN_PARAMS, .MIDDLE-DAMAGE_PARAMS {
    margin-bottom: 10px;
}


/* main */

/* error */


/* error */